h1 {
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.Jack {
    text-align: center;
}

#www {
    text-align: center;
}

#ew {
    font-size: 40px;
}