body {
    font-family: 'Times New Roman', Times, serif;
}

.sss {
    text-align: center;
}

#eee {
    margin-top: -25px;
}

#ew {
    font-size: 40px;
}

#qqq {
    margin-top: -15px;
}

.ddd {
    margin-left: 50px;
    margin-top: 40px;
}

.ddd h3 {
    font-size: 20px;
}

.ddd p {
    margin-left: 50px;
    font-size: 17px;
}